In [ ]:
import secrets
import string

def generate_password(length):
    characters = string.ascii_letters + string.digits + "@" * string.punctuation.count("@")
    secure_password = ''.join(secrets.choice(characters) for _ in range(length))
    return secure_password

# Example usage to generate a password of length 12
password = generate_password(12)
print(password)

In [2]:
import pandas as pd
data = pd.read_csv('D:\\progamming\\Practice\\student_scores.csv')

# print(data.head())
# print(data.head())
# print(data.info())
# print(data.describe())
# print(data.shape)
# data.dropna()
# data.fillna(value)
data.drop_duplicates()

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [1]:
import pandas as pd
data = pd.read_csv('D:\\progamming\\Practice\\student_scores.csv')
print("\nStudents who scored above 80:")
print(data[data['Scores'] > 80])

Students who scored above 80:
    Hours  Scores
6     9.2      88
8     8.3      81
10    7.7      85
15    8.9      95
24    7.8      86