DATA TYPE 
* Number
* string
* list
* dictionary 
* tuple
* set

  * NUMBER

* integer
* complex number
* boolean
* float

   * LIST
   
   * MY_LIST = [1,2,34,5,6,7,8,9,]
   * print(MY_LIST)

In [6]:
MY_LIST = [1,2,34,5,6,7,8,9,]
print(MY_LIST)

[1, 2, 34, 5, 6, 7, 8, 9]

In [7]:
print(MY_LIST[2:4])

[34, 5]

In [8]:
MY_LIST

[1, 2, 34, 5, 6, 7, 8, 9]

In [11]:
MY_LIST.append(10)

[1, 2, 34, 5, 6, 7, 8, 9, 10, 10, 10]

In [12]:
MY_LIST

[1, 2, 34, 5, 6, 7, 8, 9, 10, 10, 10]

In [ ]:
MY_LIST.insert(5, 100)

In [13]:
MY_LIST

[1, 2, 34, 5, 6, 7, 8, 9, 10, 10, 10]